<h2 class="text-center">Film </h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <label class="col-lg-4" for="Title">Title: </label>
      <label class="col-lg-8" for="">{{film?.title}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4" for="episode_id">episode_id: </label>
      <label class="col-lg-8" for="">{{film?.episode_id}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4" for="producer">Producer: </label>
      <label class="col-lg-8" for="">{{film?.producer}}</label>
    </div>
  </div>
</div>

<div class="text-center">
  <button class="btn btn-secondary" [routerLink]="['/individual/', idPeople]">Detail</button>
  &nbsp;
  <button class="btn btn-primary" [routerLink]="['/people']">Return</button>
</div>
