<h2 class="text-center p-4">Individual data: {{people?.name}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="birth_year">Birth year: </label>
      <label class="col-lg-8" for="">{{people?.birth_year}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="name">Eye color: </label>
      <label class="col-lg-8" for="">{{people?.eye_color}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="name">Skin color: </label>
      <label class="col-lg-8" for="">{{people?.skin_color}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="name">Height: </label>
      <label class="col-lg-8" for="">{{people?.height}} cm.</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="name">Gender: </label>
      <label class="col-lg-8" for="">{{people?.gender}}</label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-4 fw-bold" for="name">Mass: </label>
      <label class="col-lg-8" for="">{{people?.mass}} kg.</label>
    </div>
    <div class="col-lg-12 p-4">
      <div class="row">
        <div class="col-lg-12 text-center">
          <label class="fw-bold" for="films">Films </label>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5 p-4">
          <ngx-datatable class="material striped" [rows]="films" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50">
            <ng-container *ngFor="let item of columns">
              <ngx-datatable-column [prop]="item?.prop" [name]="item?.name" [sortable]="!item?.sortable" [width]="250">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <a [routerLink]="['/film/', idPeople, row?.id]"
                    [ngStyle]="{color: 'inherit', textDecoration: 'none'}" *ngIf="item?.name === 'Name'">
                    {{value}} </a>
                  <button class="btn btn-sm btn-outline-success" [routerLink]="['/film/', idPeople, row?.id ]"
                    *ngIf="item?.name === 'Action'">Detail</button>
                </ng-template>
              </ngx-datatable-column>
            </ng-container>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>
<div class="text-center">
  <button class="btn btn-outline-primary" [routerLink]="['/people']">Return</button>
</div>
